div.embed {
    outline-color: red;
    border-left: 5px;
    padding: 10px;
    background-color: rgb(48, 48, 48);
    width: fit-content;
    height: fit-content;
}

div.embed + h1 {
    color: white;
    font-weight: bold
}

div.embed + h1 + p {
    color: rgb(121, 121, 121);
    font-weight: normal;
}

div.embed + h1 + p + h1 {
    color: white;
    font-weight: bold
}

div.embed + h1 + p + h1 + p {
    color: rgb(121, 121, 121);
    font-weight: normal;
}

div.embed + h1 + p + h1 + p + h1 {
    color: white;
    font-weight: bold
}

div.embed + h1 + p + h1 + p + h1 + p {
    color: rgb(121, 121, 121);
    font-weight: normal;
}

div.embed + h1 + p + h1 + p + h1 + p + p {
    color: rgb(121, 121, 121);
    font-weight: normal;
}

