/* csslibez by home-gihub and its contributors, do not distribute ANY copies on ANY medium without this text */

body {
    padding: 0;
    margin: 0;
    background-color: #d0d5de;
}

body > div.topbar {
    width: 100vw;
    display: flex;
    align-items: center;
    position: fixed;
    height: 3em;
    background: rgb(69,93,130);
    background: -moz-linear-gradient(0deg, rgba(69,93,130,1) 0%, rgba(170,185,208,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(69,93,130,1) 0%, rgba(170,185,208,1) 100%);
    background: linear-gradient(0deg, rgba(69,93,130,1) 0%, rgba(170,185,208,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#455d82",endColorstr="#aab9d0",GradientType=1);
}

div.FormView {
    position: absolute;
    top: 3em;
    padding: 0.5em;
    width: calc(100vw - 1em);
    align-content: center;
    background-color: #d0d5de;
}

div.FormView > fieldset {
    align-self: center;
    width: auto;
    padding: 0;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(153, 153, 153);
    border-right-color: rgb(153, 153, 153);
    border-bottom-color: rgb(153, 153, 153);
    border-left-color: rgb(153, 153, 153);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
    background-color: white;
    margin-bottom: 1em;
}

div.FormView > label {
    color: #586176;
    text-shadow: white 1px 1px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: medium;
}

div.FormView > fieldset > div > p {
    font-weight: lighter;
    align-self: center;
    color: black;
}

div.FormView > fieldset > div > button > p {
    float: inline-start;
    text-align: left;
    font-weight: bold;
    font-size: medium;
    color: black;
}

div.FormView > fieldset > div:last-child {
    border-bottom: 0;
}

div.FormView > fieldset > div {
    padding: 0.5em;
}

div.FormView > fieldset > div > a > div {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAANCAYAAACQN/8FAAAAUElEQVQoz2NggIKysrI6EGbAB6CK/kNxHT6FLUgKQbiaaorb0RRXUK4YKCENxG+RFD4BYiFsim6jKVKhnSIWID6CVxGSYhWoAtyK0BTjVAQA7b9/uRuNojcAAAAASUVORK5CYII=);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 10px 13px;
    text-align: left;
}

div.FormView > fieldset > div > a > div > p {
    color: black;
}

div.FormView > fieldset > div > a {
    border: none;
    color: rgba(255, 255, 255, 0);
}

div.FormView > fieldset > div > button {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    display: contents;
    -webkit-appearance: none;
    -webkit-border-radius:0; 
    border-radius:0;
}

div.FormView > fieldset > div {
    padding: 0.5em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(153, 153, 153);
    text-align: center;
}

body > div.topbar > p {
    margin: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: absolute;
    left: 50vw;
}

p {
    margin: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

body > div.topbar > a > div > p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

body > div.topbar > a > div {
    border-radius: 0.2em;
    box-shadow: 0px 20px 7px -20px rgba(0,0,0,1) inset,
0px -20px 8px -20px rgba(255,255,255,1) inset;
    float: left;
    margin: 0;
    margin-left: 1em;
    padding-right: 1em;
    padding-left: 1em;
    background: rgb(54,78,122);
    background: -moz-linear-gradient(0deg, rgba(54,78,122,1) 0%, rgba(131,154,185,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(54,78,122,1) 0%, rgba(131,154,185,1) 100%);
    background: linear-gradient(0deg, rgba(54,78,122,1) 0%, rgba(131,154,185,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#364e7a",endColorstr="#839ab9",GradientType=1);
}

div.AppBar {
    background: rgb(0,0,0);
background: -moz-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(44,44,44,1) 100%);
background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(44,44,44,1) 100%);
background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(44,44,44,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#2c2c2c",GradientType=1);
position: fixed;
width: 100vw;
height: 3em;
top: calc(100vh - 3em);
}

.baritem {
    display: inline;
    width: 3em;
    height: 3em;
    justify-content: unset;
    padding: 0.4em;
}

.baritem > div {
    display: flex;
    align-content: end;
}

div.AppBar > div {
    justify-content: center;
    height: 3em;
    display: flex;
}

.baritem.selected {
background: -moz-linear-gradient(0deg, rgba(38,38,38,1) 0%, rgba(75,75,75,1) 54%);
background: -webkit-linear-gradient(0deg, rgba(38,38,38,1) 0%, rgba(75,75,75,1) 54%);
background: linear-gradient(0deg, rgba(38,38,38,1) 0%, rgba(75,75,75,1) 54%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#262626",endColorstr="#4b4b4b",GradientType=1);
}

.baritem > div > p{
    color: white;
    text-align: center;
    font-size: small;
    font-weight: lighter;
}